# Razorpay API Credentials
RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET

# Vite Frontend Exposed Key ID (Public key ID only, KEY_SECRET is never exposed)
VITE_RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
